.ant-layout-sider-trigger {
	background: #fff;
}

.ant-layout-sider-trigger > .anticon {
	color: #001529;
}

.ant-layout-header {
	margin: "0px" !important;
	background: #fff !important;
}

/* #components-layout-demo-side .logo {
	height: 1532px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
} */

#components-layout-demo-top .logo {
    width: 120px !important;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

.site-layout .site-layout-background {
    background: #fff;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.layout {
    height: 100vh;
    background: url('./bg.jpg') no-repeat center fixed;
    background-size: cover;
}

.site-page-header {
    background-color: #fff !important;
}

.ant-card-body {
    padding: 12px 20px;
}

.contract-card {
    box-shadow: -0px 0px 20px -10px gray;
}

.ant-card-body {
    line-height: 2;
}

/* .contract-card:hover {
    box-shadow: -7px 10px 20px -10px gray;
} */
